// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

// $fontFamily: sans-serif, 'Roboto', 'Montserrat';
$fontFamily: sans-serif;

// Colors
$skillsLogoGray: #7a7a7a;
$homeBgColor: #b3b3b3;
$homeMediaBtnColor: #333;
$homeMediaFontColor: #f1f1f1;
$homeFontColor: #333;
$skillsBgColor: #f9f9f9;
$projectsBgColor: #b3b3b3;
$arrowColor: #8f56c4;
$cardBorderColor : #7a7a7a;
$cardBgColor: #f9f9f9;
$swiperNavBtn: #7a7a7a;
$swiperNavBtnHover: #8f56c4;

// Values
$homeFontSize: 16px;
$homeMediaSize: 27px;
$homeMediaBtnSize: 50px;
$homeMarginLeft: 240px;
$titleMargin: 0 50px;
$subtitleMargin: 0 50px;
$footerMargin: 0 50px;
$contentMargin: 0 auto;
$pictureRadius: 5px;
$cardRadius: 5px;
$cardBorder: 1px solid $cardBorderColor;
$cardDescriptionPadding: 0 10px;
$cardButtonRadius: 5px;
$cardLanguagesLogoSize: 30px;