@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

$fontFamily: sans-serif, 'Roboto', 'Montserrat';

// Colors
$skillsLogoGray: #7a7a7a;
$skillsBgColor: #f9f9f9;

// Values
$titleMargin: 10px 50px;
$subtitleMargin: 10px 50px;