@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bi.bi-arrow-up-circle, .bi.bi-arrow-down-circle {
    font-size: 40px;
    color: $homeMediaFontColor;
    background-color: $homeMediaBtnColor;
    border-radius: 50%;
    &:hover {
        color: $homeMediaBtnColor;
        background-color: $homeMediaFontColor;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.links {
    position: fixed;
    width: 200px;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    top: calc($navTogglerTop - 5px);
    left: calc($navTogglerLeft - 5px);
    font-weight: 600;
    border: 2px solid $homeFontColor;
    border-radius: $cardRadius;
    z-index: 5;
    transform: translateX(-120%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    &--line {
        color: $homeFontColor;
        font-family: $fontFamily;
        font-size: 20px;
        margin: 10px 0;
        transition: color 0.5s ease-in-out;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: $homeFontColor;
            width: 100%;
            height: 2px;
            bottom: 0;
            transform-origin: 100% 0;
            transform: scaleX(0);
            transition: transform 0.4s;
        }
        &:hover {
            color: lighten($homeFontColor, 30%);
            &::before {
                transform-origin: 0 0;
                transform: scaleX(1);
            }
        }

    }
    &.active {
        transform: translate(0);
    }
}

.nav-toggler {
    position: fixed;
    z-index: 10;
    top: $navTogglerTop;
    left: $navTogglerLeft;
    width: $navTogglerSize;
    height: $navTogglerSize;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    &.active .l1 {
        transform: translateY(0px) rotate(135deg);
    }
    &.active .l2 {
        opacity: 0;
    }
    &.active .l3 {
        transform: translateY(0px) rotate(-135deg);
    }
}

.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: $homeFontColor;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    &.l1 {
        transform: translateY(-10px);
    }
    &.l3 {
        transform: translateY(10px);
    }
}

.home {
    background: $homeBgColor url('../../img/home.jpg') center / cover no-repeat;
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: column;
    &--title {
        height: 5%;
    }
    &--content {
        flex: 1 0 auto;
        width: 90%;
        height: 80%;
        overflow: hidden;
        margin: $contentMargin;
        &--text {
            min-height: 400px;
            font-size: 50px;
            padding-top: $homeMarginLeft;
            padding-left: $homeMarginLeft;
        }
        &--medias {
            width: 500px;
            display: flex;
            justify-content: space-between;
            padding-left: $homeMarginLeft;
            margin: 20px 0 40px 0;
            &--btn {
                width: $homeMediaBtnSize;
                height: $homeMediaBtnSize;
                border-radius: 50%;
                background-color: $homeMediaBtnColor;
                // margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                & a {
                    text-decoration: none;
                    color: $homeMediaFontColor;
                    font-size: $homeMediaSize;
                }
            }
        }
    }
    & .homebtn {
        text-decoration: none;
        color: $homeFontColor;
        width: fit-content;
        margin-left: $homeMarginLeft;
        background: transparent;
        padding: 10px 30px;
        border-radius: 3px;
        border: 2px solid $homeMediaBtnColor;
        transition: all 0.2s ease-in-out;
        &:hover {
            background: $homeMediaBtnColor;
            color: $homeMediaFontColor;
        }
    }
    &--footer {
        height:5%;
        @include section-footer     
    }
}

.skills {
    background: $skillsBgColor url('../../img/skills.jpg') center / cover no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &--title {
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-family: $fontFamily;
        font-size: 25px;
        margin: $titleMargin;
        padding: $titlePadding;
    }
    &--subtitle {
        height: 5%;
        font-family: $fontFamily;
        font-size: 16px;
        font-style: italic;
        margin: $subtitleMargin;
        padding: $subtitlePadding;
    }
    &--content {
        height: 85%;
        flex: 1 0 auto;
    }
    &--list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;
        &--wrapper {
            width: 60px;
            height: 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        &--logo {
            & i {
                font-size: 50px;
                color: $skillsLogoGray;
                &.devicon-html5-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg');
                    }
                }
                &.devicon-css3-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg');
                    }
                }
                &.devicon-bootstrap-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg');
                    }
                }
                &.devicon-sass-original {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg');
                    }
                }
                &.devicon-javascript-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg');
                    }
                }
                &.devicon-vuejs-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg');
                    }
                }
                &.devicon-vscode-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg');
                    }
                }
                &.devicon-gimp-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gimp/gimp-original.svg');
                    }
                }
                &.devicon-figma-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg');
                    }
                }
                &.devicon-bash-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg');
                    }
                }
                &.devicon-mysql-plain-wordmark {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg');
                    }
                }
                &.devicon-php-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg');
                    }
                }
                &.devicon-laravel-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/laravel/laravel-plain.svg');
                    }
                }
                &.devicon-git-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg');
                    }
                }
                &.devicon-github-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg');
                    }
                }
                &.devicon-npm-original-wordmark {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg');
                    }
                }
            }
        }
        &--name {
            font-family: $fontFamily;
            font-size: 16px;
            font-weight: 600;
        }
    }
    &--footer {
        height: 5%;
        @include section-footer     
    }
}

.projects {
    background: $projectsBgColor url('../../img/projects.jpg') center / cover no-repeat;
    width: 100%;
    height: auto;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    &--title {
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-family: $fontFamily;
        font-size: 25px;
        margin: $titleMargin;
        padding: $titlePadding;
        & i {
            font-size: 40px;
            color: $arrowColor;
        }
    }
    &--subtitle {
        height: 5%;
        font-family: $fontFamily;
        font-size: 16px;
        font-style: italic;
        margin: $subtitleMargin;
        padding: $subtitlePadding;
    }
    &--content {
        height: 85%;
        width: 90%;
        margin: 0 auto;
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &--card {
        // min-width: 240px;
        width: 360px;
        // height: 60%;
        background-color: $cardBgColor;
        border: $cardBorder;
        border-radius: $cardRadius;
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        &--picture {
            height: 40%;
            display: flex;
            width: 80%;
            & img {
                // max-width: 90%;
                // margin: 10px auto;
                height: 100%;
                width: 100%;
                object-fit:contain;
                object-position: center;
                border-radius: $pictureRadius;
            }
            &--soon {
                & img {
                    max-width: 310px;
                    height: 150px;
                    margin: 10px auto;
                    border-radius: $pictureRadius;
                    filter: blur(0.2rem);
                }
            }
        }
        &--content {
            height: 60%;
            display: flex;
            flex-direction: column;
            &--soon {
                height: 255px;
                &--title {
                    text-align: center;
                    font-weight: 600;
                    font-size: 18px;
                    font-style: italic;
                }
                &--description {
                    text-align: center;
                    filter: blur(0.2rem);
                }
            }
            &--title {
                height: 10%;
                text-align: center;
                font-weight: 600;
                font-size: 18px;
            }
            &--description {
                height: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &--type {
                    font-style: italic;
                    font-size: 14px;
                }
                &--text {
                    padding: $cardDescriptionPadding;
                }
                & a {
                    display: inline;
                    color: $homeFontColor;
                    font-weight: 600;                    
                }
            }
            &--languages {
                height: 10%;
                // height: $cardLanguagesLogoSize;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                & i {
                    font-size: $cardLanguagesLogoSize;
                }
                & img {
                    width: $cardLanguagesLogoSize;
                    height: $cardLanguagesLogoSize;
                }
            }
            &--links {
                height: 10%;
                // height: $cardLanguagesLogoSize;
                margin: 10px auto;
                & a {
                    & button {
                        width: 100px;
                        border: $cardBorder;
                        border-radius: $cardButtonRadius;
                    }
                }
            }
        }
    }
    &--footer {
        height: 5%;
        @include section-footer     
    }    
}

.about {
    background: $projectsBgColor url('../../img/chinois.jpg') center / cover no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &--title {
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-family: $fontFamily;
        font-size: 25px;
        margin: $titleMargin;
        padding: $titlePadding;
        & i {
            font-size: 40px;
            color: $arrowColor;
        }
    }
    &--bio {
        height: 5%;
        font-family: $fontFamily;
        font-size: 16px;
        font-style: italic;
        margin: $subtitleMargin;
        padding: $subtitlePadding;
    }
    &--hobbies {
        &--tabs {
            background-color: #070707;
            max-width: 80%;
            margin: 100px auto;
            border-radius: $cardRadius;
            border: 1px solid $homeMediaBtnColor;
            color: $homeMediaFontColor;
            display: grid;
            grid-template-rows: min-content 1fr;
            & .tabs-btn-container {
                display: flex;
                border-bottom: 1px solid $homeMediaBtnColor;
                & .tab {
                    border: none;
                    background: transparent;
                    color: darken($homeMediaFontColor, 50%);
                    flex-basis: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: clamp(16px, 2vw, 20px);
                    font-weight: 600;
                    padding: 30px 0;
                    cursor: pointer;
                    &:not(:nth-child(3), .tab.active-tab) {
                        border-right: 1px solid $homeMediaBtnColor;
                    }
                    &:nth-child(1) {
                        border-top-left-radius: calc($cardRadius - 1px);
                    }
                    &:nth-child(3) {
                        border-top-right-radius: calc($cardRadius - 1px);
                    }
                    &.active-tab {
                        background-image: linear-gradient(45deg, rgb(63, 63, 230), rgb(233, 103, 233));
                        font-weight: bolder;
                        color: $homeMediaFontColor;
                    }
                }
            }
            & .tab-content {
                grid-area: 2 / 1 / 3 / 2;
                padding: clamp(35px, 3vw, 40px);
                min-height: 200px;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.4s ease-out;
                & p {
                    margin-top: 20px;
                    line-height: 1.6;
                }
                & h3 {
                    font-size: clamp(20px, 2vw, 25px);
                }
                &.active-tab-content {
                    visibility: visible;
                    opacity: 1;
                }                
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .projects--card--content--description--text {
        overflow: auto;
    }

    .projects--card--content--soon {
        overflow: hidden;
    }

    .projects--card--picture--soon {
        & img {
            width: 80%;
            height: auto;
            display: flex;
        }
    }

    // .projects--card {
    //     &--picture {
    //         height: fit-content;
    //     }
    //     &--content {
    //         &--languages {
    //             height: fit-content;
    //         }
    //         &--links {
    //             height: fit-content;
    //         }
    //     }
    // }
}

@media screen and (max-width: 1300px) {
    .home--content--text {
        padding-left: 5%;
    }
    .home--content--medias {
        padding-left: 4%;
        max-width: 250px;
        justify-content: left;
    }
    .home .homebtn {
        margin-left: 5%;
    }
}

// @media screen and (max-width: 950px) {
//     .projects--card--picture {
//         & img {
//             max-width: 80%;
//         }
//     }
// }

@media screen and (max-width: 850px) {
    .projects {
        background-position: inherit;
    }
}

@media screen and (max-width: 520px) {
    .projects--card {
        max-width: 90%;
    }
}

// @media screen and (max-width: 500px) {
//     .bi.bi-arrow-up-circle, .bi.bi-arrow-down-circle {
//         display: none;
//     }
// }

@media screen and (max-width: 400px) {
    .skills--subtitle {
        font-size: 14px;
    }
    .projects--subtitle {
        font-size: 14px;
    }
    .projects--card {
        max-width: 250px;
    }
}