@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    background-color: $homeBgColor;
    width: 100%;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    &--title {
        height: 5%;
    }
    &--content {
        flex: 1 0 auto;
        width: 90%;
        height: 80%;
        overflow: hidden;
        margin: $contentMargin;
    }
    &--footer {
        height:5%;
        @include section-footer     
    }
}

.skills {
    background-color: $skillsBgColor;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &--title {
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-family: $fontFamily;
        font-size: 25px;
        margin: $titleMargin;
        & i {
            font-size: 40px;
            color: $arrowColor;
        }
    }
    &--subtitle {
        height: 5%;
        font-family: $fontFamily;
        font-size: 16px;
        font-style: italic;
        margin: $subtitleMargin;
    }
    &--content {
        height: 85%;
        flex: 1 0 auto;
    }
    &--list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;
        &--wrapper {
            width: 60px;
            height: 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        &--logo {
            & i {
                font-size: 50px;
                color: $skillsLogoGray;
                &.devicon-html5-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg');
                    }
                }
                &.devicon-css3-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg');
                    }
                }
                &.devicon-bootstrap-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg');
                    }
                }
                &.devicon-sass-original {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg');
                    }
                }
                &.devicon-javascript-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg');
                    }
                }
                &.devicon-vuejs-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg');
                    }
                }
                &.devicon-vscode-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg');
                    }
                }
                &.devicon-gimp-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gimp/gimp-original.svg');
                    }
                }
                &.devicon-figma-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg');
                    }
                }
                &.devicon-bash-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg');
                    }
                }
                &.devicon-mysql-plain-wordmark {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg');
                    }
                }
                &.devicon-php-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg');
                    }
                }
                &.devicon-laravel-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/laravel/laravel-plain.svg');
                    }
                }
                &.devicon-git-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg');
                    }
                }
                &.devicon-github-plain {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg');
                    }
                }
                &.devicon-npm-original-wordmark {
                    &:hover {
                        color: transparent;
                        background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg');
                    }
                }
            }
        }
        &--name {
            font-family: $fontFamily;
            font-size: 16px;
            font-weight: 600;
        }
    }
    &--footer {
        height: 5%;
        @include section-footer     
    }
}

.swiper {
    width: 100%;
    height: 88vh;
    &-wrapper {
        display: flex;
        align-items: center;
    }
    &-slide {
        max-width: 350px;
    }
}

.mySwiper {
    height: 100%;
    width: 100%;
}

.projects {
    background-color: $projectsBgColor;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    &--title {
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-family: $fontFamily;
        font-size: 25px;
        margin: $titleMargin;
        & i {
            font-size: 40px;
            color: $arrowColor;
        }
    }
    &--subtitle {
        height: 5%;
        font-family: $fontFamily;
        font-size: 16px;
        font-style: italic;
        margin: $subtitleMargin;
    }
    &--content {
        height: 85%;
        width: 90%;
        // margin: 0 auto;
        // flex: 1 0 auto;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: center;
    }
    &--card {
        width: 350px;
        height: 60%;
        background-color: $cardBgColor;
        border: $cardBorder;
        border-radius: $cardRadius;
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        &--picture {
            height: 40%;
            display: flex;
            & img {
                max-width: 90%;
                margin: 10px auto;
                border-radius: $pictureRadius;
            }
            &--soon {
                & img {
                    max-width: 310px;
                    height: 150px;
                    margin: 10px auto;
                    border-radius: $pictureRadius;
                    filter: blur(0.2rem);
                }
            }
        }
        &--content {
            height: 60%;
            display: flex;
            flex-direction: column;
            &--soon {
                height: 255px;
                &--title {
                    text-align: center;
                    font-weight: 600;
                    font-size: 18px;
                    font-style: italic;
                }
                &--description {
                    text-align: center;
                    filter: blur(0.2rem);
                }
            }
            &--title {
                height: 10%;
                text-align: center;
                font-weight: 600;
                font-size: 18px;
            }
            &--description {
                height: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &--type {
                    font-style: italic;
                    font-size: 14px;
                }
                &--text {
                    padding: $cardDescriptionPadding;
                }
                & a {
                    display: inline;
                }
            }
            &--languages {
                height: 10%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                & i {
                    font-size: $cardLanguagesLogoSize;
                }
                & img {
                    width: $cardLanguagesLogoSize;
                    height: $cardLanguagesLogoSize;
                }
            }
            &--links {
                height: 10%;
                margin: 10px auto;
                & a {
                    & button {
                        width: 100px;
                        border: $cardBorder;
                        border-radius: $cardButtonRadius;
                    }
                }
            }
        }
    }
    &--footer {
        height: 5%;
        @include section-footer     
    }    
}

@media screen and (max-width: 1600px) {
    .projects--card--content--description--text {
        overflow: auto;
    }

    .projects--card--content--soon {
        overflow: hidden;
    }

    .projects--card--picture--soon {
        & img {
            width: 80%;
            height: auto;
            display: flex;
        }
    }

    .projects--card {
        &--picture {
            height: fit-content;
        }
        &--content {
            &--languages {
                height: fit-content;
            }
            &--links {
                height: fit-content;
            }
        }
    }
}