@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi.bi-arrow-up-circle, .bi.bi-arrow-down-circle {
  font-size: 40px;
  color: #f1f1f1;
  background-color: #333;
  border-radius: 50%;
}
.bi.bi-arrow-up-circle:hover, .bi.bi-arrow-down-circle:hover {
  color: #333;
  background-color: #f1f1f1;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.links {
  position: fixed;
  width: 200px;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
  top: 5px;
  left: 10px;
  font-weight: 600;
  border: 2px solid #333;
  border-radius: 5px;
  z-index: 5;
  transform: translateX(-120%);
  transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}
.links--line {
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  margin: 10px 0;
  transition: color 0.5s ease-in-out;
  position: relative;
}
.links--line::before {
  content: "";
  position: absolute;
  background: #333;
  width: 100%;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}
.links--line:hover {
  color: gray;
}
.links--line:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}
.links.active {
  transform: translate(0);
}

.nav-toggler {
  position: fixed;
  z-index: 10;
  top: 10px;
  left: 15px;
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.nav-toggler.active .l1 {
  transform: translateY(0px) rotate(135deg);
}
.nav-toggler.active .l2 {
  opacity: 0;
}
.nav-toggler.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}

.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}
.line.l1 {
  transform: translateY(-10px);
}
.line.l3 {
  transform: translateY(10px);
}

.home {
  background: #b3b3b3 url("../../img/home.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home--title {
  height: 5%;
}
.home--content {
  flex: 1 0 auto;
  width: 90%;
  height: 80%;
  overflow: hidden;
  margin: 0 auto;
}
.home--content--text {
  min-height: 400px;
  font-size: 50px;
  padding-top: 240px;
  padding-left: 240px;
}
.home--content--medias {
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding-left: 240px;
  margin: 20px 0 40px 0;
}
.home--content--medias--btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home--content--medias--btn a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 27px;
}
.home .homebtn {
  text-decoration: none;
  color: #333;
  width: fit-content;
  margin-left: 240px;
  background: transparent;
  padding: 10px 30px;
  border-radius: 3px;
  border: 2px solid #333;
  transition: all 0.2s ease-in-out;
}
.home .homebtn:hover {
  background: #333;
  color: #f1f1f1;
}
.home--footer {
  height: 5%;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.home--footer a {
  margin: 0 50px;
}
.home--footer i {
  font-size: 40px;
  color: #333;
}

.skills {
  background: #f9f9f9 url("../../img/skills.jpg") center/cover no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.skills--title {
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  margin: 0 50px;
  padding: 0 20px;
}
.skills--subtitle {
  height: 5%;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 0 50px;
  padding: 0 20px;
}
.skills--content {
  height: 85%;
  flex: 1 0 auto;
}
.skills--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}
.skills--list--wrapper {
  width: 60px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.skills--list--logo i {
  font-size: 50px;
  color: #7a7a7a;
}
.skills--list--logo i.devicon-html5-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg");
}
.skills--list--logo i.devicon-css3-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg");
}
.skills--list--logo i.devicon-bootstrap-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg");
}
.skills--list--logo i.devicon-sass-original:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg");
}
.skills--list--logo i.devicon-javascript-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg");
}
.skills--list--logo i.devicon-vuejs-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg");
}
.skills--list--logo i.devicon-vscode-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg");
}
.skills--list--logo i.devicon-gimp-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gimp/gimp-original.svg");
}
.skills--list--logo i.devicon-figma-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg");
}
.skills--list--logo i.devicon-bash-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg");
}
.skills--list--logo i.devicon-mysql-plain-wordmark:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg");
}
.skills--list--logo i.devicon-php-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg");
}
.skills--list--logo i.devicon-laravel-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/laravel/laravel-plain.svg");
}
.skills--list--logo i.devicon-git-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg");
}
.skills--list--logo i.devicon-github-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg");
}
.skills--list--logo i.devicon-npm-original-wordmark:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg");
}
.skills--list--name {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.skills--footer {
  height: 5%;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.skills--footer a {
  margin: 0 50px;
}
.skills--footer i {
  font-size: 40px;
  color: #333;
}

.swiper {
  width: 100%;
  height: 88vh;
}
.swiper-wrapper {
  display: flex;
  align-items: center;
}
.swiper-slide {
  min-width: 260px;
  max-width: 350px;
}

.mySwiper {
  height: 100%;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.swiper-navBtn {
  color: #7a7a7a;
  transition: color 0.3s ease-in-out;
}
.swiper-navBtn:hover {
  color: #bfbfbf;
}
.swiper-navBtn::before {
  font-size: 40px;
}
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-pagination-bullet {
  background-color: #7a7a7a;
  transition: color 0.3s ease-in-out;
}
.swiper-pagination-bullet:hover {
  background-color: #bfbfbf;
}

.projects {
  background: #b3b3b3 url("../../img/projects.jpg") center/cover no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.projects--title {
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  margin: 0 50px;
  padding: 0 20px;
}
.projects--title i {
  font-size: 40px;
  color: #333;
}
.projects--subtitle {
  height: 5%;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 0 50px;
  padding: 0 20px;
}
.projects--content {
  height: 85%;
  width: 90%;
}
.projects--card {
  min-width: 240px;
  width: 360px;
  height: 60%;
  background-color: #f9f9f9;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.projects--card--picture {
  height: 40%;
  display: flex;
}
.projects--card--picture img {
  max-width: 90%;
  margin: 10px auto;
  border-radius: 5px;
}
.projects--card--picture--soon img {
  max-width: 310px;
  height: 150px;
  margin: 10px auto;
  border-radius: 5px;
  filter: blur(0.2rem);
}
.projects--card--content {
  height: 60%;
  display: flex;
  flex-direction: column;
}
.projects--card--content--soon {
  height: 255px;
}
.projects--card--content--soon--title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
}
.projects--card--content--soon--description {
  text-align: center;
  filter: blur(0.2rem);
}
.projects--card--content--title {
  height: 10%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.projects--card--content--description {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects--card--content--description--type {
  font-style: italic;
  font-size: 14px;
}
.projects--card--content--description--text {
  padding: 0 10px;
}
.projects--card--content--description a {
  display: inline;
}
.projects--card--content--languages {
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.projects--card--content--languages i {
  font-size: 30px;
}
.projects--card--content--languages img {
  width: 30px;
  height: 30px;
}
.projects--card--content--links {
  height: 10%;
  margin: 10px auto;
}
.projects--card--content--links a button {
  width: 100px;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
}
.projects--footer {
  height: 5%;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.projects--footer a {
  margin: 0 50px;
}
.projects--footer i {
  font-size: 40px;
  color: #333;
}

@media screen and (max-width: 1600px) {
  .projects--card--content--description--text {
    overflow: auto;
  }
  .projects--card--content--soon {
    overflow: hidden;
  }
  .projects--card--picture--soon img {
    width: 80%;
    height: auto;
    display: flex;
  }
  .projects--card--picture {
    height: fit-content;
  }
  .projects--card--content--languages {
    height: fit-content;
  }
  .projects--card--content--links {
    height: fit-content;
  }
}
@media screen and (max-width: 1300px) {
  .home--content--text {
    padding-left: 5%;
  }
  .home--content--medias {
    padding-left: 4%;
    max-width: 250px;
    justify-content: left;
  }
  .home .homebtn {
    margin-left: 5%;
  }
}
@media screen and (max-width: 950px) {
  .projects--card--picture img {
    max-width: 80%;
  }
}
@media screen and (max-width: 850px) {
  .projects {
    background-position: inherit;
  }
}
@media screen and (max-width: 520px) {
  .projects--card {
    max-width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .bi.bi-arrow-up-circle, .bi.bi-arrow-down-circle {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .skills--subtitle {
    font-size: 14px;
  }
  .projects--subtitle {
    font-size: 14px;
  }
  .projects--card {
    max-width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
