*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  background-color: #b3b3b3;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home--title {
  height: 5%;
}
.home--content {
  flex: 1 0 auto;
  width: 90%;
  height: 80%;
  overflow: hidden;
  margin: 0 auto;
}
.home--footer {
  height: 5%;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.home--footer a {
  margin: 0 50px;
}
.home--footer i {
  font-size: 40px;
  color: #8f56c4;
}

.skills {
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.skills--title {
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 25px;
  margin: 0 50px;
}
.skills--title i {
  font-size: 40px;
  color: #8f56c4;
}
.skills--subtitle {
  height: 5%;
  font-family: sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 0 50px;
}
.skills--content {
  height: 85%;
  flex: 1 0 auto;
}
.skills--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}
.skills--list--wrapper {
  width: 60px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.skills--list--logo i {
  font-size: 50px;
  color: #7a7a7a;
}
.skills--list--logo i.devicon-html5-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg");
}
.skills--list--logo i.devicon-css3-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg");
}
.skills--list--logo i.devicon-bootstrap-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg");
}
.skills--list--logo i.devicon-sass-original:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg");
}
.skills--list--logo i.devicon-javascript-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg");
}
.skills--list--logo i.devicon-vuejs-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg");
}
.skills--list--logo i.devicon-vscode-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg");
}
.skills--list--logo i.devicon-gimp-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gimp/gimp-original.svg");
}
.skills--list--logo i.devicon-figma-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg");
}
.skills--list--logo i.devicon-bash-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg");
}
.skills--list--logo i.devicon-mysql-plain-wordmark:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg");
}
.skills--list--logo i.devicon-php-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg");
}
.skills--list--logo i.devicon-laravel-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/laravel/laravel-plain.svg");
}
.skills--list--logo i.devicon-git-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg");
}
.skills--list--logo i.devicon-github-plain:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg");
}
.skills--list--logo i.devicon-npm-original-wordmark:hover {
  color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg");
}
.skills--list--name {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.skills--footer {
  height: 5%;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.skills--footer a {
  margin: 0 50px;
}
.skills--footer i {
  font-size: 40px;
  color: #8f56c4;
}

.swiper {
  width: 100%;
  height: 88vh;
}
.swiper-wrapper {
  display: flex;
  align-items: center;
}
.swiper-slide {
  min-width: 260px;
  max-width: 350px;
}

.mySwiper {
  height: 100%;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.swiper-navBtn {
  color: #7a7a7a;
  transition: color 0.3s ease-in-out;
}
.swiper-navBtn:hover {
  color: #8f56c4;
}
.swiper-navBtn::before {
  font-size: 40px;
}
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-pagination-bullet {
  background-color: #7a7a7a;
  transition: color 0.3s ease-in-out;
}
.swiper-pagination-bullet:hover {
  background-color: #8f56c4;
}

.projects {
  background-color: #b3b3b3;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.projects--title {
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 25px;
  margin: 0 50px;
}
.projects--title i {
  font-size: 40px;
  color: #8f56c4;
}
.projects--subtitle {
  height: 5%;
  font-family: sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 0 50px;
}
.projects--content {
  height: 85%;
  width: 90%;
}
.projects--card {
  min-width: 240px;
  width: 360px;
  height: 60%;
  background-color: #f9f9f9;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.projects--card--picture {
  height: 40%;
  display: flex;
}
.projects--card--picture img {
  max-width: 90%;
  margin: 10px auto;
  border-radius: 5px;
}
.projects--card--picture--soon img {
  max-width: 310px;
  height: 150px;
  margin: 10px auto;
  border-radius: 5px;
  filter: blur(0.2rem);
}
.projects--card--content {
  height: 60%;
  display: flex;
  flex-direction: column;
}
.projects--card--content--soon {
  height: 255px;
}
.projects--card--content--soon--title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
}
.projects--card--content--soon--description {
  text-align: center;
  filter: blur(0.2rem);
}
.projects--card--content--title {
  height: 10%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.projects--card--content--description {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects--card--content--description--type {
  font-style: italic;
  font-size: 14px;
}
.projects--card--content--description--text {
  padding: 0 10px;
}
.projects--card--content--description a {
  display: inline;
}
.projects--card--content--languages {
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.projects--card--content--languages i {
  font-size: 30px;
}
.projects--card--content--languages img {
  width: 30px;
  height: 30px;
}
.projects--card--content--links {
  height: 10%;
  margin: 10px auto;
}
.projects--card--content--links a button {
  width: 100px;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
}
.projects--footer {
  height: 5%;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.projects--footer a {
  margin: 0 50px;
}
.projects--footer i {
  font-size: 40px;
  color: #8f56c4;
}

@media screen and (max-width: 1600px) {
  .projects--card--content--description--text {
    overflow: auto;
  }
  .projects--card--content--soon {
    overflow: hidden;
  }
  .projects--card--picture--soon img {
    width: 80%;
    height: auto;
    display: flex;
  }
  .projects--card--picture {
    height: fit-content;
  }
  .projects--card--content--languages {
    height: fit-content;
  }
  .projects--card--content--links {
    height: fit-content;
  }
}

/*# sourceMappingURL=style.css.map */
